.box{
    background-color: slateblue;
    padding: 20px;
    border-radius: 20px;
}
.container{
    display: flex;
    gap: 30px;
}
.container2{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.item{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 2px solid tomato;
    border-radius: 5px;
}
@media  screen and (max-width: 576px) {
    .container{
        flex-direction: column;
    }
    
}